.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
}

.checkout-modal {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80vw;
  height: 90vh;
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  z-index: 2;
}

@media (max-width: 768px) {
  .cart-modal {
    display: none;
  }
}
