.nav-link.dropdown-toggle {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-weight: bold;
}

.navbar-brand {
  margin-right: 60px;
}

.navbar {
  padding: 50px;
}

.d-flex.shopping-cart {
  color: white;
  width: 135px;
  border: 1px solid white;
}

.badge.bg-secondary {
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
